<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="/update" method="post">
    <table align="center" width="400px">
        <tr>
            <td>编号</td>
            <td>cc</td>
        </tr>
        <tr>
            <td>期刊名</td>
            <td>c</td>
        <tr>
        <tr>
            <td>地址</td>
            <td>c</td>
        <tr>
            <td><input type="submit" value="保存"/> </td>
            <td><input type="reset" value="返回"/> </td>
        </tr>
    </table>
</form>
</body>
</html>