<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- TemplateBeginEditable name="doctitle" -->
    <title>无标题文档</title>
    <link th:href="@{/css/index3.css}" rel="stylesheet" type="text/css" media="all"/>
    <link />
    <script th:attr="src=@{/js/jquery-3.2.1.min.js}"></script>
    <script th:attr="src=@{/js/inndex.js}"></script>
</head>
<body>
<div id="container">
    <div class="dfg">
        <ul id="nav">
            <li class="mainlevel" id="mainlevel_02"><a href="http://www.5icool.org/" target="_blank">do touch me</a>
                <ul id="sub_02">
                    <li><a href="http://www.5icool.org/" target="_blank">JavaScript</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">jQuery</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">slideUp</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">slideDown</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">up and down</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">animate</a></li>
                </ul>
            </li>
            <li class="mainlevel" id="mainlevel_03"><a href="http://www.5icool.org/" target="_blank">do touch me</a>
                <ul id="sub_03">
                    <li><a href="http://www.5icool.org/" target="_blank">JavaScript</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">jQuery</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">slideUp</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">slideDown</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">down</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">animate</a></li>
                </ul>
            </li>
            <li class="mainlevel" id="mainlevel_04"><a href="http://www.5icool.org/" target="_blank">do touch me</a>
                <ul id="sub_04">
                    <li><a href="http://www.5icool.org/" target="_blank">JavaScript</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">jQuery</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">slideUp</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">slideDown</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">up and down</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">animate</a></li>
                </ul>
            </li>

            <li class="mainlevel" id="mainlevel_05"><a href="http://www.5icool.org/" target="_blank">do touch me</a>
                <ul id="sub_05">
                    <li><a href="http://www.5icool.org/" target="_blank">JavaScript</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">jQuery</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">slideDown</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">up and down</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">animate</a></li>
                </ul>
            </li>

            <li class="mainlevel" id="mainlevel_06"><a href="http://www.5icool.org/" target="_blank">do touch me</a>
                <ul id="sub_06">
                    <li><a href="http://www.5icool.org/" target="_blank">JavaScript</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">jQuery</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">slideUp</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">slideDown</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">up and down</a></li>
                    <li><a href="http://www.5icool.org/" target="_blank">网页特效</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu">
        <div class="subNav1">橱窗推荐</div>
        <ul class="navContent1 ys">
            <li class="li01"><a href="#">橱窗首页</a></li>
            <li class="li02"><a href="#">设置橱窗</a></li>
            <li class="li01"><a href="#">橱窗中的宝贝</a></li>
            <li class="li01"><a href="#">计划中的宝贝</a></li>
        </ul>

        <div class="subNav2">业务系统</div>
        <ul class="navContent2 sd">
            <li><a href="#">添加新闻</a></li>
            <li><a href="#">添加新闻</a></li>
            <li><a href="#">新闻管理</a></li>
        </ul>
        <div class="subNav3">招商加盟</div>
        <ul class="navContent3 ed">
            <li><a href="#">添加新闻</a></li>
            <li><a href="#">添加新闻</a></li>
            <li><a href="#">新闻管理</a></li>
            <li><a href="#">添加新闻</a></li>
            <li><a href="#">新闻管理</a></li></ul></div>
    <div class="content">

    </div>
</div>

<div class="headbody2">
    <ul>
        <li>菜单</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
    </ul>
</div>
</body>
</html>
